[submodule "x4deep"]
	path = x4deep
	url = https://github.com/xopherdeep/x4deep2
[submodule "phpThumb"]
	path = phpThumb
	url = https://github.com/xopherdeep/phpThumb1.7.11
[submodule "smarty"]
	path = smarty
	url = https://github.com/xopherdeep/smarty3.1.19
[submodule "github"]
	path = github
	url = https://github.com/xopherdeep/php-github-api-lib
[submodule "Github"]
	path = Github
	url = https://github.com/xopherdeep/php-github-api-lib
[submodule "mesh"]
	path = mesh
	url = https://github.com/xopherdeep/mesh-code-editor
[submodule "stripe"]
	path = stripe
	url = https://github.com/xopherdeep/stripe
[submodule "gplus-quickstart-php"]
	path = gplus-quickstart-php
	url = https://github.com/googleplus/gplus-quickstart-php.git
[submodule "Zend"]
	path = Zend
	url = https://github.com/xopherdeep/ZF1
