[submodule "x4deep"]
	path = x4deep
	url = https://github.com/xopherdeep/x4deep
[submodule "phpThumb"]
	path = phpThumb
	url = https://github.com/xopherdeep/phpThumb
[submodule "smarty"]
	path = smarty
	url = https://github.com/xopherdeep/smarty
[submodule "Zend"]
	path = Zend
	url = https://github.com/xopherdeep/Zend-Framework-v1
