[submodule "x4deep"]
	path = x4deep
	url = https://github.com/xopherdeep/x4deep
[submodule "Zend"]
	path = Zend
	url = https://github.com/zendframework/zf1.git
[submodule "smarty"]
	path = smarty
	url = https://github.com/xopherdeep/smarty.git
[submodule "phpThumb"]
	path = phpThumb
	url = https://github.com/xopherdeep/phpThumb
